<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight Details</title>
    <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Flight Manager</h1>
        <p>Wherever you want</p>
    </div>
</div>


<div class="container">
    <div th:if="${error!=null}">
        <center><h2 th:text="${error}"></h2></center>
    </div>

    <div class="col-sm-12" th:if="${error==null}">
        <form th:action="@{/flyTo}" th:object="${request}" method="post">
            <table class="table">
                <thead>
                <tr>
                    <th><label for="fromCode">From: </label></th>
                    <th><label for="toCode">To airport:</label></th>
                    <th><label for="bothWay">Both way:</label></th>
                    <th><label for="daysToStay">If both way, how many days to stay: </label></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input class="form-control" type="text" id="fromCode" name="fromCode"
                               th:value="${currentAirport.code}" th:placeholder="${currentAirport.name}" readonly/>
                    </td>
                    <td>
                        <select class="form-control" name="toCode" id="toCode">
                            <div th:each="direction:${directions}">
                                <option th:field="*{toCode}" th:value="${direction.code}"
                                        th:text="${direction.name}">
                                </option>
                            </div>
                        </select>
                    </td>
                    <td>
                        <input type="checkbox" class="form-control" th:field="*{bothWay}" name="bothWay" id="bothWay">
                    </td>
                    <td>
                        <input type="number" class="form-control" name="daysToStay"
                               id="daysToStay" value="7" min="1" max="30">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <a th:href="@{/}">Go Back</a>
    <br/>
</div>

<!--<footer th:replace="fragments/footer :: 'footer'">-->
<!--footer-->
<!--</footer>-->


</body>
</html>