<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Flight Manager</h1>
        <p>Wherever you want</p>
    </div>
</div>

<div class="container">
    <h2>Choose where from you want to fly:</h2>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Full Name</th>
                <th>Code</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="airport:${flyFromAirports}">
                <td th:text="${airport.name}"></td>
                <td th:text="${airport.fullName}"></td>
                <td th:text="${airport.code}"></td>
                <td>
                    <a th:href="'/flyFrom/'+${airport.id}">Click</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="container-fluid text-center">
    <h3>Master work created by Nikodem Dusinski</h3>
</footer>


</body>
</html>