body::after {
    content: "";
    background: url('wallpaper.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.jumbotron {
    background: rgba(91, 192, 222, 0.7);
}

.container-fluid{
    background: rgba(91, 192, 222, 0.7);
}